* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
#app,
#app > div {
    height: 100%;
}

ol,
ul {
    list-style: none;
}
#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    position: relative;
}
