* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
#app,
#app > div {
    height: 100%;
}
body{
    position: relative;
}
ol,
ul {
    list-style: none;
}
#root {
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
}
.head {
    width: 100%;
    height: 4.375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        font-family: 'Crimson Pro';
        border: 1px solid;
        font-size: 14px;
        padding: 8px;
        text-transform: uppercase;
        margin-right: 40px;
    }
    &__nav {
        padding: 0;
        display: flex;
        margin: 0;
        @media screen and (max-width: 880px) {
            font-size: 14px;
            display: none;
        }

        &__active {
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                position: absolute;
                line-height: 2em;
                text-align: center;
                background-color: red;
height: 100vh;

                flex: 1 1;
                gap: 2em;

            }
        }
        &__link {
            max-width: 100%;
            font-weight: 700;
            padding: 0 1.5rem;
            transition: 400ms ease;
        }
    }

    &__menuIcon {
        position: fixed;
        cursor: pointer;
        display: none;
        width: 28px;
        height: 28px;
        flex-direction: column;
        justify-content: center;
        right: 2em;
        top: 2em;
        background: transparent;
        @media screen and (max-width: 768px) {
            display:flex;
        }
        &__burger {
            &,
            &::before,
            &::after {
                transition: 0.375s;
                width: 100%;
                height: 4px;
                background: rgb(255, 255, 255);
                border-radius: 20%;
            }
            &::before,
            &::after {
                content: '';
                position: absolute;
            }
            &::before {
                transform: translateY(-10px);
            }
            &::after {
                transform: translateY(10px);
            }
            &__active {
                background: rgba(0, 0, 0, 0);
            }
            &__active::before {
                transform: rotate(45deg);
                border-radius: 20%;
            }
            &__active::after {
                transform: rotate(135deg);
                border-radius: 20%;
            }
        }
    }
}
