:root {
    font-family: 'Montserrat';
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #181719;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
}
  
  a:hover {
    color: #a4b0be;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
  }
  
  body {
    margin: 0;
    display: block;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
