.welcome {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2em;
    // flex-wrap: wrap;

    @media (min-width: 992px) {
        flex-direction: row;
        padding: 75px;
    }

    &__presentation {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 1em;

        @media (min-width: 768px) {
            flex: 1;
            display: flex;
            font-size: 24px;
            justify-content: center;
        }
        &__title {
            font-family: 'Lora', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            @media (min-width: 768px) {
                font-size: 48px;
            }
        }
        &__text {
            margin-right: 20%;
            @media screen and (min-width: 768px) {
            }
        }
        .welcome__link {
            display: flex;
            align-items: center;
            gap: 1em;
            line-height: 22px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 25px;
            @media screen and (min-width: 768px) {
                font-size: 18px;
            }
        }

        &__arrow {
            font-size: 28px;
        }
    }
    &__portfolio {
        display: flex;
        flex-direction: column;
        flex: 1.5;
        @media screen and (min-width: 768px) {
            justify-content: center;
        }
        &__imgContainer {
            position: relative;
        }
        &__img {
            width: 100%;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #181719;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        left: 15%;
        bottom: -20px;
        height: 50%;
        padding: 15%;
        width: 80%;
        &__person {
            flex-direction: row;
            &__pic {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
            &__infos {
                flex-direction: column;
            }
        }
    }
}
