footer {
	position: absolute;
    bottom: 0;
    height: 17px;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    color: #a9a9a9;
}
// test footer https://stackoverflow.com/a/40568544/16081570
.phantom{
	display: block;
	padding: 20px;
	height: 60px;
	width: 100%;
}